[%#
  # The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Splinter Bugzilla Extension.
  #
  # The Initial Developer of the Original Code is Red Hat, Inc.
  # Portions created by Red Hat, Inc. are Copyright (C) 2008
  # Red Hat, Inc. All Rights Reserved.
  #
  # Contributor(s): Owen Taylor <otaylor@redhat.com>
  #%]

[% PROCESS global/header.html.tmpl
  title = "Patch Review"
  header = "Patch Review"
  style_urls = [ "extensions/Splinter/web/splinter.css" ]
  javascript_urls = [ "extensions/Splinter/web/jquery.min.js",
                      "extensions/Splinter/web/splinter.js" ]
  subheader = "&nbsp;"
  header_addl_info = "&nbsp;"
%]
<script type="text/javascript">
  configAttachmentStatuses = [
  [% FOREACH status = attachment_statuses %]
    '[% status FILTER js %]',
  [% END %]
  ];

  configBase = '[% Param('splinter_base') FILTER js %]';
  configBugzillaUrl = '[% Param('urlbase') FILTER js %]';
  configHaveExtension = true;
  configHelp = 'page.cgi?id=splinter/help.html';
  configNote = '';
  $(function() { init(); });
</script>

<!--[if lt IE 7]>
<p style="border: 1px solid #880000; padding: 1em; background: #ffee88; font-size: 120%;">
   Splinter Patch Review requires a modern browser, such as
   <a href="http://www.firefox.com">Firefox</a>, for correct operation.
</p>
<![endif]-->
<div id="error" style="display: none;"> </div>
<div id="navigation" style="display: none;"></div>
<div id="bugInfo" style="display: none;">
  Bug <span id="bugId"></span> -
  <span id="bugShortDesc"></span> -
  <span id="bugReporter"></span> -
  <span id="bugCreationDate"></span>
</div>
<div id="loading">Loading....</div>
<div id="enterBug" style="display: none;">
  Bug to review:
  <input id="enterBugInput" />
  <input id="enterBugGo" type="button" value="Go" />
  <div id="chooseReview" style="display: none;">
     Drafts and published reviews:
    <table>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
<div id="chooseAttachment" style="display: none;">
  Choose patch attachment to review:
  <table>
    <tbody>
    </tbody>
  </table>
  <a id="originalBugLink">Go to bug</a>
  <a id="allReviewsLink">Your reviews</a>
</div>
<div id="overview" style="display: none;">
  <div id="patchIntro">
  </div>
  <div>
    <span class="review-title">
      Your Review
    </span>
    <span id="restored" style="display: none;">
      (Restored from draft; last edited <span id="restoredLastModified"></span>)
    </span>
  </div>
  <div>
    <div id="myCommentFrame">
      <textarea id="myComment"></textarea>
      <div id="emptyCommentNotice">&lt;Overall Comment&gt;</div>
    </div>
    <div id="myPatchComments"></div>
    <div id="buttonBox">
      <span id="attachmentStatusSpan">Patch Status:
	<select id="attachmentStatus"> </select>
      </span>
      <input id="publishButton" type="button" value="Publish" />
      <input id="cancelButton" type="button" value="Cancel" />
    </div>
    <div class="clear"></div>
  </div>
  <div id="oldReviews" style="display: none;">
    <div class="review-title">
      Previous Reviews
    </div>
  </div>
</div>
<div id="files" style="display: none;"></div>
<div id="credits" style="display: none;">
  Powered by <a href="http://fishsoup.net/software/splinter">Splinter</a> |
  <a id='helpLink' target='splinterHelp'>Help</a>
</div>
<div id="saveDraftNotice" style="display: none;"></div>

[% PROCESS global/footer.html.tmpl %]
