include('Patch');
include('Review');
include('TestUtils');

let assertEquals = TestUtils.assertEquals;

let patch_text = <<<
diff --git a/gi/arg.c b/gi/arg.c
index b37e1a7..51da8f7 100644
--- a/gi/arg.c
+++ b/gi/arg.c
@@ -212,8 +212,6 @@ gjs_array_to_array(JSContext   *context,
                    GITypeInfo  *param_info,
                    void       **arr_p)
 {
-    guint32 i;
-    jsval elem;
     GITypeTag element_type;
 
     element_type = g_type_info_get_tag(param_info);
@@ -1126,8 +1124,8 @@ gjs_g_arg_release_in_arg(JSContext  *context,
 
     /* we don't own the argument anymore */
     if (transfer == GI_TRANSFER_EVERYTHING)
-        /* We're done */
-        return;
+        /* Success! */
+        return JS_TRUE;
 
     type_tag = g_type_info_get_tag( (GITypeInfo*) type_info);
 ' +
diff --git a/gi/function.c b/gi/function.c
index 2ef8642..b8aae11 100644
--- a/gi/function.c
+++ b/gi/function.c
@@ -261,6 +261,7 @@ gjs_invoke_c_function(JSContext      *context,
     if (return_tag != GI_TYPE_TAG_VOID)
         n_return_values += 1;
 
+    return_values = NULL; /* Quiet gcc warning about initialization */
     if (n_return_values > 0) {
         if (invoke_ok) {
             return_values = g_newa(jsval, n_return_values);
>>>;

let p = new Patch.Patch(patch_text);
let r = new Review.Review(p);

r.setIntro('I like this patch');
assertEquals(<<<
I like this patch
>>>, r.toString());

let argC = r.getFile('gi/arg.c');
let loc = argC.patchFile.getLocation(216,214);
r.getFile('gi/arg.c').addComment(loc, 'Should you have removed elem?');
assertEquals(<<<
I like this patch

::: gi/arg.c
@@ -214,3 +214,1 @@
 {
-    guint32 i;
-    jsval elem;

Should you have removed elem?
>>>, r.toString());

let loc = argC.patchFile.getLocation(1130,1128);
r.getFile('gi/arg.c').addComment(loc, 'This comment seems unnecessary');
assertEquals(<<<
I like this patch

::: gi/arg.c
@@ -214,3 +214,1 @@
 {
-    guint32 i;
-    jsval elem;

Should you have removed elem?

@@ -1128,3 +1126,3 @@
     if (transfer == GI_TRANSFER_EVERYTHING)
-        /* We're done */
-        return;
+        /* Success! */
+        return JS_TRUE;

This comment seems unnecessary
>>>, r.toString());

loc = argC.patchFile.getLocation(1128,1126);
argC.addComment(loc, "Why this transfer?");
assertEquals(<<<
I like this patch

::: gi/arg.c
@@ -214,3 +214,1 @@
 {
-    guint32 i;
-    jsval elem;

Should you have removed elem?

@@ -1127,2 +1125,2 @@
     /* we don't own the argument anymore */
     if (transfer == GI_TRANSFER_EVERYTHING)

Why this transfer?

@@ -1129,2 +1127,2 @@
-        /* We're done */
-        return;
+        /* Success! */
+        return JS_TRUE;

This comment seems unnecessary
>>>, r.toString());


let r2 = new Review.Review(p);
r2.parse(r.toString());
assertEquals(r.toString(), r2.toString());

loc = argC.patchFile.getLocation(216,214);
let comment = argC.getComment(loc);
assertEquals(loc, comment.location);
comment.remove();

assertEquals(null, argC.getComment(loc));
