body {
    margin: 0px;
}

#loading {
    padding: 0.5em;
}

#headers {
    background: black;
    color: white;
    font-size: 90%;
    padding: 0.5em;
}

#headers a {
    color: white;
}

#note {
    background: #ffee88;
    padding: 0.5em;
}

#error {
    border: 1px solid black;
    margin: 0.5em;
    padding: 0.5em;
    color: #bb0000;
}

#enterBug {
    padding: 0.5em;
}

#chooseReview {
    margin-top: 1em;
}

.review-draft .review-desc, .review-draft .review-attachment {
    font-weight: bold;
}

#chooseAttachment {
    padding: 0.5em;
}

#chooseAttachment table {
    margin-bottom: 1em;
}

.attachment-draft .attachment-id, .attachment-draft .attachment-desc {
    font-weight: bold;
}

.attachment-obsolete .attachment-desc {
    text-decoration: line-through ;
}

#controls {
    padding: 0.5em;
}

#patchIntro {
    border: 1px solid #888888;
    font-size: 90%;
    margin-bottom: 1em;
    white-space: pre;
    padding: 0.5em;
}


.reviewer-box {
    padding: 0.5em;
    white-space: pre-wrap;
}

.reviewer-0 .reviewer-box {
    border-left: 10px solid green;
}

.reviewer-1 .reviewer-box {
    border-left: 10px solid blue;
}

.reviewer-2 .reviewer-box {
    border-left: 10px solid red;
}

.reviewer-3 .reviewer-box {
    border-left: 10px solid yellow;
}

.reviewer-4 .reviewer-box {
    border-left: 10px solid purple;
}

.reviewer-5 .reviewer-box {
    border-left: 10px solid orange;
}

.reviewer {
    float: left;
}

.review-date {
    float: right;
}

.review-info-bottom {
    clear: both;
}

.review {
    border: 1px solid black;
    font-size: 90%;
    margin-bottom: 1em;
}

.review-intro {
    margin-top: 0.5em;
}

#restored {
    color: #bb0000;
    margin-bottom: 0.5em;
}

#myComment {
    width: 100%;
    height: 10em;
}

#buttonBox {
    float: right;
}

.clear {
    clear: both;
}

#files {
   position: relative;
   padding: 0.5em;
}

.file-label {
    margin-top: 1em;
    padding: 0.5em;
}

.file-label span {
    border: 1px solid black;
    padding: 0.5em;
    background: #ccffff;
}

.hunk-header {
    border: 1px solid black;
    background: #dddddd;
}

.hunk-cell {
    padding: 2px;
}

.hunk-lines {
    color: red;
    float: left;
}

.hunk-function-line {
    float: left;
    margin-left: 2em;
}

.old-line, .new-line {
    white-space: pre;
    font-family: "DejaVu Sans Mono", monospace;
    font-size: 80%;
    overflow: hidden;
}

.removed-line {
    background: #ffccaa;;
}

.added-line {
    background: #bbffbb;
}

.changed-line {
    background: #aaccff;
}

.file-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.middle-column {
    width: 3px;
}

.comment-removed {
    width: 50%;
    float: left;
}

.comment-changed {
    margin-left: 25%;
    margin-right: 25%;
    clear: both;
}

.comment-added {
    width: 50%;
    float: right;
}

.comment-frame {
    border: 1px solid black;
    margin: 5px;
}

.comment .review-info {
    margin-top: 0.5em;
    font-size: 80%;
}

#commentEditor {
    width: 50%;
    background: #ffeeaa;
}

#commentTextFrame {
    border: 1px solid #ffeeaa;
    margin-bottom: 5px;
}

#commentEditor.focused #commentTextFrame {
    border: 1px solid #8888bb;
}

#commentEditorInner {
    margin: 0.5em;
}

#commentEditor textarea {
    width: 100%;
    height: 10em;
    border: 0px;
}

#commentEditorLeftButtons {
    float: left;
}

#commentEditorLeftButtons input {
    margin-right: 0.5em;
}

#commentEditorRightButtons {
    float: right;
}

.comment-separator-removed {
    clear: left;
}

.comment-separator-added {
    clear: right;
}

#saveDraftNotice {
    border: 1px solid black;
    padding: 0.5em;
    background: #ffccaa;
    position: fixed;
    bottom: 0px;
    right: 0px;
}
